<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Резюме</title>
    <style>
        @page {
            size: A4;
            margin: 5mm;
        }

        @font-face {
            font-family: 'VK Sans Display';
            src: url(${utils.injectResourceAsBase64("font/truetype", "/assets/font/vk_sans_display_regular.ttf")}) format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        /* Основные стили для всего документа */
        body {
            font-family: 'VK Sans Display', Arial, sans-serif;
            font-size: 11pt;
            line-height: 1.6;
            margin: 0;
            background-color: #FFFFFF; /* VK White */
            color: #000000;
            /* Limiting width to A4 size */
            min-width: 210mm;
            max-width: 210mm;
        }

        /* Стили для заголовка */
        header {
            background: #0077FF; /* VK Blue */
            color: #FFFFFF; /* VK White */
            display: block;
            align-items: center;
            padding: 10px 10px;
        }

        header img {
            align-items: center;
            width: 167px;
            height: 30px;
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 10px;
        }

        h1 {
            margin: 0;
            font-size: 1.5rem;
        }

        /* Стили для секций */
        section {
            border: 1px solid #DEDEDE; /* VK Grey */
            background: #FFFFFF; /* VK White */
            margin: 5px;
            padding: 10px 20px;
            border-radius: 8px;
            page-break-inside: avoid;
        }

        .personal-info {
             position: relative;
        }

        .personal-info .avatar {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 20px;
            width: 120px;
            max-height: 150px;
            border-radius: 8px;
            transform: translateY(15%);
        }

        section.list-section {
            padding: 0;
        }

        /* Стили для заголовков секций */
        h2 {
            padding: 0;
            margin-top: 0;
            margin-bottom: 3px;
            color: #000000; /* VK Black */
            font-size: 1.2rem;
        }

        h2.list-section-title {
            margin: 10px 20px;
        }

        /* Стили для списков */
        ul {
            list-style: none;
            padding: 0; /* Убираем отступы */
            margin: 0;
        }

        ul li {
            margin-bottom: 0; /* Отступ между элементами списка */
            background: #FFFFFF; /* VK White */
            border-bottom: 1px solid #DEDEDE; /* VK Grey */
            padding: 10px 20px; /* Внутренние отступы */
        }

        ul li:first-child {
            border-top: 1px solid #DEDEDE; /* VK Grey */
        }

        ul li:last-child {
            border-bottom: 1px solid #DEDEDE; /* VK Grey */
            border-radius: 8px;
        }

        ul.tag-list {
            flex-wrap: wrap;
            gap: 5px;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        ul.tag-list li {
            margin: 3px;
            background-color: #0077FF; /* VK Blue */
            color: #FFFFFF; /* VK White */
            padding: 5px 10px;
            border-radius: 20px; /* Закруглённые углы тэгов (пилюля) */
            border: none;
            font-size: 0.8rem;
            display: inline-block;
            white-space: nowrap; /* Убираем оборачивание */
        }

        /* Стили для ссылок */
        a {
            color: #0077FF; /* VK Blue */
            text-decoration: none; /* Убираем подчеркивание */
        }

        p {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        a:hover {
            text-decoration: underline; /* Подчеркивание при наведении */
        }

        /* Ограничиваем дробление элементов при попиле на страницы */
        h1, h2, p, li {
            page-break-inside: avoid;
        }

        /* Для маленьких экранов при просмотре не конвертированного HTML. */
        @media (max-width: 210mm), (max-height: 297mm) {
            width: 100%;
            height: auto;
            margin: 10px;
            padding: 15px;
        }
    </style>
</head>
<body>
<header>
    <img
        src="${utils.injectResourceAsBase64("image/svg+xml", "/assets/logo/vk_education_logo_white.svg")}"
        alt="VK Logo"/>
</header>
<section class="personal-info">
    <h2>Личная информация</h2>

    #if ($resume.image.contentType && $resume.image.contentPresent)
        <img src="data:${resume.image.contentType};base64,${resume.image.contentBase64}" alt="Avatar" class="avatar">
    #end

    #if ($resume.user.cityName)
        <p><strong>Город:</strong> ${resume.user.cityName}</p>
    #end
    #if ($resume.user.dateOfBirth)
        <p><strong>Дата Рождения:</strong> ${utils.formatBirthDate(${resume.user.dateOfBirth})}</p>
    #end
    #if ($resume.user.phoneNumber)
        <p><strong>Номер Телефона:</strong> ${resume.user.phoneNumber}</p>
    #end
    #if ($resume.user.email)
        <p><strong>Email:</strong> ${resume.user.email}</p>
    #end
    #if ($resume.user.vkId)
        <p><strong>VK ID:</strong> ${resume.user.vkId}</p>
    #end
</section>

    #if ($resume.summary)
    <section>
        <h2>О Себе</h2>
        <p>${resume.summary}</p>
    </section>
    #end

    #if ($resume.preferredSpecialities && $resume.preferredSpecialities.size() > 0)
    <section>
        <h2>Специальности</h2>
        <ul class="tag-list">
            #foreach ($preferredSpeciality in ${resume.preferredSpecialities})
                <li>${preferredSpeciality}</li>
            #end
        </ul>
    </section>
    #end

    #if ($resume.readyForRelocation || $resume.readyForBusinessTrips || $resume.preferredAttendanceFormat)
    <section>
        <h2>Условия Работы</h2>
        <ul class="tag-list">
            #if ($resume.preferredAttendanceFormat)
                <li><strong>Формат Работы:</strong> ${utils.translate(${resume.preferredAttendanceFormat})}</li>
            #end
            #if ($resume.readyForRelocation)
                <li>Готов к Переезду</li>
            #end
            #if ($resume.readyForBusinessTrips)
                <li>Готов к Командировкам</li>
            #end
        </ul>
    </section>
    #end

    #if ($resume.skills && $resume.skills.size() > 0)
    <section>
        <h2>Навыки</h2>
        <ul class="tag-list">
            #foreach ($skill in ${resume.skills})
                <li><strong>${skill.name}</strong>#if(${skill.proficiency})<strong>: </strong>${utils.translate(${skill.proficiency})}#end</li>
            #end
        </ul>
    </section>
    #end

    #if ($resume.languages && $resume.languages.size() > 0)
    <section>
        <h2>Языки</h2>
        <ul class="tag-list">
            #foreach ($language in ${resume.languages})
                <li><strong>${language.name}</strong>#if(${language.proficiency})<strong>: </strong>${language.proficiency}#end</li>
            #end
        </ul>
    </section>
    #end

    #if ($resume.jobs && $resume.jobs.size() > 0)
    <section class="list-section">
        <h2 class="list-section-title">Опыт работы</h2>
        <ul>
            #foreach ($job in ${resume.jobs})
                <li>
                    #if ($job.startDate || $job.endDate)
                        <p><strong>Период работы:</strong> ${utils.formatDateAsMonth(${job.startDate})}
                            - ${utils.formatDateAsMonthOrNow(${job.endDate})}</p>
                    #end
                    #if ($job.title)
                        <p><strong>Должность:</strong> ${job.title}</p>
                    #end
                    #if ($job.company.name)
                        <p><strong>Компания:</strong> ${job.company.name} </p>
                    #end
                    #if ($job.company.url)
                        <p><strong>Ссылка:</strong> <a href="${job.company.url}">${job.company.url}</a></p>
                    #end
                    #if ($job.location)
                        <p><strong>Местоположение:</strong> ${job.location}</p>
                    #end
                    #if ($job.attendanceFormat)
                        <p><strong>Формат работы:</strong> ${utils.translate(${job.attendanceFormat})}</p>
                    #end
                    #if ($job.description)
                        <p><strong>Описание:</strong> ${job.description}</p>
                    #end
                </li>
            #end
        </ul>
    </section>
    #end

    #if ($resume.educations && $resume.educations.size() > 0)
    <section class="list-section">
        <h2 class="list-section-title">Образование</h2>
        <ul>
            #foreach ($edu in ${resume.educations})
                <li>
                    #if ($edu.startDate || $edu.endDate)
                        <p><strong>Период обучения:</strong> ${utils.formatDateAsMonth($edu.startDate)}
                            - ${utils.formatDateAsMonthOrNow($edu.endDate)}</p>
                    #end
                    #if ($edu.institution.name)
                        <p><strong>Институт:</strong> ${edu.institution.name}</p>
                    #end
                    #if ($edu.institutionSubdivision)
                        <p><strong>Подразделение:</strong> ${edu.institutionSubdivision}</p>
                    #end
                    #if ($edu.degreeType)
                        <p><strong>Тип Образования:</strong> ${utils.translate(${edu.degreeType})}</p>
                    #end
                    #if ($edu.degreeName)
                        <p><strong>Степень:</strong> ${edu.degreeName}</p>
                    #end
                    #if ($edu.fieldOfStudy)
                        <p><strong>Направление:</strong> ${edu.fieldOfStudy}</p>
                    #end
                    #if ($edu.specialization)
                        <p><strong>Специализация:</strong> ${edu.specialization}</p>
                    #end
                    #if ($edu.format)
                        <p><strong>Форма обучения:</strong> ${utils.translate(${edu.format})}</p>
                    #end
                    #if ($edu.attendanceFormat)
                        <p><strong>Формат обучения:</strong> ${utils.translate(${edu.attendanceFormat})}</p>
                    #end
                    #if ($edu.grade)
                        <p><strong>Оценка:</strong> ${edu.grade}</p>
                    #end
                </li>
            #end
        </ul>
    </section>
    #end

    #if ($resume.certifications && $resume.certifications.size() > 0)
    <section class="list-section">
        <h2 class="list-section-title">Сертификаты</h2>
        <ul>
            #foreach ($cert in ${resume.certifications})
                <li>
                    #if ($cert.name)
                        <p><strong>Название:</strong> ${cert.name}</p>
                    #end
                    #if ($cert.issuingOrganization)
                        <p><strong>Организация:</strong> ${cert.issuingOrganization}</p>
                    #end
                    #if ($cert.languageProficiency)
                        <p><strong>Уровень владения языком:</strong> ${cert.languageProficiency}</p>
                    #end
                    #if ($cert.issueDate)
                        <p><strong>Дата выдачи:</strong> ${utils.formatDateAsMonth($cert.issueDate)}</p>
                    #end
                    #if ($cert.expirationDate)
                        <p><strong>Действителен до:</strong> ${utils.formatDateAsMonth(${cert.expirationDate})}</p>
                    #end
                    #if ($cert.credentialUrl)
                        <p><strong>Ссылка:</strong> <a href="${cert.credentialUrl}">${cert.credentialUrl}</a></p>
                    #end
                </li>
            #end
        </ul>
    </section>
    #end

    #if ($resume.links && $resume.links.size() > 0)
    <section class="list-section">
        <h2 class="list-section-title">Ссылки</h2>
        <ul>
            #foreach ($link in ${resume.links})
                <li><strong>${link.platformName}:</strong> <a href="${link.profileUrl}">${link.profileUrl}</a></li>
            #end
        </ul>
    </section>
    #end
</body>
</html>
